{% extends "layout.html.twig" %}
{% set active = 'addArticle' %}


{% block title %}Ajouter un Article{% endblock %}

{% block body %}

{% if flashMessage is defined %}
    <span class="alert alert-{{flashName}}">{{flashMessage}}</span>
    <hr>
{% endif %}

    <form method="post" action="?page=article&action=addArticle">
		<input type="text" name="_sTitre" placeholder="Ajouter un titre" required="required" value="{% if datasForm %}{{datasForm._sTitre}}{% endif %}"><br>
		<textarea name="_sContenu" placeholder="Ajouter un contenu" rows="20px" cols="50px" required="required">{% if datasForm %}{{datasForm._sContenu}}{% endif %}</textarea> <br>
		<div id="checkboxCategorie">
			{% for categorie in listCategories %}
				<div class="checkboxChoice">
	    			<input type="checkbox" id="categorie" name="categorie_{{categorie._id}}" value="{{categorie._id}}">
	    			<label for="categorie">{{categorie._sNom}}</label>
	    			<span data-toggle="popover" data-content="{{categorie._sResume}}">
	    				<span class="categorie" style="color:{{categorie._sCodeHexa}}"> 
	    					<i class="glyphicon glyphicon-info-sign resumeCategorie"></i>
	    				</span>
	    			</span>
				</div>			    
			{% endfor %}

		</div>
		<input type="submit" class="btn btn-success" name="formArticle" value="Ajouter un article">
	</form>


{% endblock %}