{% extends "layout.html.twig" %}
{% set active = 'home' %}
{% block title %}Accueil{% endblock %}

{% block body %}

{% if flashMessage is defined %}
    <span class="alert alert-{{flashName}}">{{flashMessage}} </span>
{% endif %}

    
        {% for article in listArticles %}

        	<div class="col-md-4">
                <h2>{{ article._sTitre }}</h2> <cite>By {{ article._iAuteurId._sNom }}</cite>
                <p> {{ article._sContenu|truncate(20, true) }}</p>
                <div>
                    <div class="more label"><a href="article/view/{{article._sSlug}}">En savoir +</a></div> 
                    <div class="tags">
                    <h4>Tags <span class="glyphicon glyphicon-tag"></span></h4>
            {% for category in article._aCategories %}
                <span class="btn-info" style="background-color:{{ category._sCodeHexa }}">
                    <a href="#">{{ category._sNom }}</a>
                </span>
            {% endfor %}
                    </div>    
                </div> 
            </div>
        {% endfor %}
		
{% endblock %}