{% extends "layout.html.twig" %}
{% set active = 'home' %}
{% block title %}Accueil{% endblock %}

{% block body %}

{% if flashMessage is defined %}
    <span class="alert alert-{{flashName}}">{{flashMessage}}</span>
{% endif %}
<br><br>
     <div class="col-lg-12">
        {% for article in listArticles %}
            {% if article._bActif == 1 %}
            <div class="col-md-4">
                <h3 class="blockArticle">{{ article._sTitre|truncate(20, true) }}</h3> <cite>By {{ article._iAuteurId._sNom }}</cite>
                <p class="blockArticle"> {{ article._sContenu|truncate(20, true) }}</p>
                <div>
                    <div>
                        <a href="article/view/{{article._sSlug}}">En savoir +</a>
                    </div> 
                <div class="tags">
                        <h5>Catégorie(s) <span class="glyphicon glyphicon-tag"></span></h5>
                {% for category in article._aCategories %}
                    <span class="btn-info" style="background-color:{{ category._sCodeHexa }}">
                        <a href="search/{{ category._sNom|lower }}">{{ category._sNom }}</a>
                    </span>
                {% else %}
                Pas de catgorie.
                {% endfor %}
                    </div>    
                </div> 
            </div>
            {% endif %}

        {% else %}
            Pas d'article(s) trouvé(s)
        {% endfor %}
	</div>
{% endblock %}